<div class="login-container">
    <!-- Loader: Se muestra solo cuando isLoading es true -->
    <div *ngIf="isLoading" class="loader-container">
        <div class="loader">🚗..........</div>
    </div>

    <div class="logo-section">
        <h1 class="brand-name">
            PICHA <br>
            <span>LAVADO</span>
        </h1>
        <p class="tagline">CLEAN & SHINE</p>
    </div>

    <div class="form-section">
        <div class="form-container">
            <h2 class="form-title">Crea tu cuenta</h2>
            <p class="form-subtitle">Complete la información para registrarse</p>

            <form [formGroup]="register" (ngSubmit)="handleSubmit()">

                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" placeholder="Ingrese su nombre" formControlName="name"
                    autocomplete="name">

                <div *ngIf="register.get('name')?.invalid && (register.get('name')?.dirty || register.get('name')?.touched)"
                    class="error-message">
                    <small *ngIf="register.get('name')?.errors?.['required']">El nombre es obligatorio.</small>
                    <small *ngIf="register.get('name')?.errors?.['minlength']">Debe tener al menos 2 caracteres.</small>
                    <small *ngIf="register.get('name')?.errors?.['pattern']">Solo letras y espacios.</small>
                </div>

                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" placeholder="Ingrese su apellido" formControlName="apellido">
                <div *ngIf="register.get('apellido')?.invalid && (register.get('apellido')?.dirty || register.get('apellido')?.touched)"
                    class="error-message">
                    <small *ngIf="register.get('apellido')?.errors?.['required']">El apellido es obligatorio.</small>
                    <small *ngIf="register.get('apellido')?.errors?.['minlength']">Debe tener al menos 2
                        caracteres.</small>
                    <small *ngIf="register.get('apellido')?.errors?.['pattern']">Solo letras y espacios.</small>
                </div>

                <label for="email">Correo Electrónico</label>
                <input type="email" id="email" name="email" placeholder="Correo electrónico" formControlName="email"
                    (change)="checkEmail()" (blur)="checkEmail()">


                <div *ngIf="emailExists" class="error-message">
                    <small>Este correo ya está registrado.</small>
                </div>

                <label for="telefono">Teléfono</label>
                <input type="text" id="telefono" placeholder="Ingrese su teléfono" formControlName="telefono">
                <div *ngIf="register.get('telefono')?.invalid && (register.get('telefono')?.dirty || register.get('telefono')?.touched)"
                    class="error-message">
                    <small *ngIf="register.get('telefono')?.errors?.['required']">El teléfono es obligatorio.</small>
                    <small *ngIf="register.get('telefono')?.errors?.['pattern']">Ingrese un teléfono válido (9-10
                        dígitos).</small>
                </div>

                <label for="password">Contraseña</label>
                <div class="password-container">
                    <input [type]="showPassword ? 'text' : 'password'" id="password" placeholder="Contraseña"
                        formControlName="password">
                    <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </button>
                </div>
                <div *ngIf="register.controls.password?.invalid && register.controls.password?.touched"
                    class="error-message">
                    <small>La contraseña debe tener al menos 5 caracteres y una mayúscula.</small>
                </div>

                <label for="confirmPassword">Confirmar Contraseña</label>
                <div class="password-container">
                    <input [type]="showPassword ? 'text' : 'password'" id="confirmPassword"
                        formControlName="confirmPassword" placeholder="Confirmar Contraseña" />
                    <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </button>
                </div>
                <div *ngIf="register.hasError('passwordMismatch')" class="error-message">
                    <small>Las contraseñas no coinciden.</small>
                </div>

                <button type="submit" class="btn btn-primary">Crear cuenta</button>
            </form>

            <p class="login-text">
                ¿Ya tienes una cuenta? <a [routerLink]="'/login'" class="text-link">Iniciar sesión</a>
            </p>
        </div>
    </div>
</div>