<app-navbar></app-navbar>
<div class="container">
  <h2>Lista de Vehículos</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <ul *ngIf="!loading && vehicles.length > 0; else noVehiculos">
    <li *ngFor="let v of vehicles">
      <strong>{{ v.marca }} {{ v.modelo }}</strong> - {{ v.placa }}

      <button (click)="deleteVehicle(v.id)" class="btn btn-danger">🗑 Eliminar</button>
      <a
        [routerLink]="['/reservas']"
        [queryParams]="{ autoId: v.id }"
        class="btn btn-primary"
        style="margin-left: 100px;">
        Hacer una Reservar con este vehículo
      </a>
    </li>
  </ul>

  <a [routerLink]="['/register-cars']" class="btn btn-secondary" style="margin-left: 10px;">
    Añadir un vehículo nuevo
  </a>

  <ng-template #noVehiculos>
    <p *ngIf="loading">Cargando vehículos...</p>
    <p *ngIf="!loading && vehicles.length === 0">No hay vehículos disponibles.</p>
  </ng-template>
</div>
