<!DOCTYPE html>
<html lang="es">
  <app-navbar></app-navbar>

<div class="container">
  <h2>Lista de Vehículos</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

 <ul *ngIf="!loading; else loading">
  <li *ngFor="let v of vehicles">
    <strong>{{ v.marca }} {{ v.modelo }}</strong> - {{ v.placa }}

    <button (click)="deleteVehicle(v.id)" class="btn btn-danger">🗑 Eliminar</button>
    <a
      [routerLink]="['/reservas']"
      [queryParams]="{ autoId: v.id }"
      class="btn btn-primary"
      style="margin-left: 10px;">
      Reservar este vehículo
    </a>
    
  </li>
  <a [routerLink]="['/register-cars']" class="btn btn-secondary" style="margin-left: 10px;">
      Añadir un  vehículo nuevo
    </a>
</ul>

  <ng-template #sinVehiculos>
    <p *ngIf="!loading">No hay vehículos disponibles.</p>
    <ng-template #loading>
      <p>Cargando vehículos...</p>
    </ng-template>
  </ng-template>
</div>
