<!DOCTYPE html>
<html lang="es">
<app-navbar></app-navbar>
<div class="form-container">
    <h2>Registro de Auto</h2>
    <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
      
      <label>Marca:</label>
      <input formControlName="marca" type="text" />
  
      <label>Modelo:</label>
      <input formControlName="modelo" type="text" />
  
      <label>Año:</label>
      <input formControlName="anio" type="number" />
  
      <label>Placa:</label>
      <input formControlName="placa" type="text" />
  
      <label>Color:</label>
      <input formControlName="color" type="text" />
  
      <label>Tipo de Vehículo:</label>
      <select formControlName="tipoDeVehiculo">
        <option value="" disabled selected>Seleccione una opción</option>
        <option *ngFor="let tipo of tiposDeVehiculo" [value]="tipo">{{ tipo }}</option>
      </select>
  
      <button type="submit" [disabled]="carForm.invalid">Registrar</button>
    </form>
  </div>

</html>