<div class="login-container">
    <!-- Loader: Se muestra solo cuando isLoading es true -->
    <div *ngIf="isLoading" class="loader-container">
        <div class="loader">🚗..........</div>
    </div>

    <div class="logo-section">
        <h1 class="brand-name">
            PICHA <br>
            <span>LAVADO</span>
        </h1>
        <p class="tagline">CLEAN & SHINE</p>
    </div>
    <div class="form-section">
        <div class="form-container">
            <h2 class="form-title">Crea tu cuenta</h2>
            <p class="form-subtitle">Complete la información para registrarse</p>
            
            <form [formGroup]="register" (ngSubmit)="handleSubmit()">
                
                <label for="name">Nombre</label>
                <input type="text" id="name" placeholder="Ingrese su nombre" formControlName="name">
                <div *ngIf="register.get('name')?.invalid && (register.get('name')?.dirty || register.get('name')?.touched)" class="error-message">
                    <small *ngIf="register.get('name')?.errors?.['required']">El nombre es obligatorio.</small>
                    <small *ngIf="register.get('name')?.errors?.['minlength']">El nombre debe tener al menos 2 caracteres.</small>
                    <small *ngIf="register.get('name')?.errors?.['pattern']">El nombre solo puede contener letras y espacios.</small>
                </div>

                <label for="surname">Apellido</label>
                <input type="text" id="surname" placeholder="Ingrese su apellido" formControlName="surname">
                <div *ngIf="register.get('surname')?.invalid && (register.get('surname')?.dirty || register.get('surname')?.touched)" class="error-message">
                    <small *ngIf="register.get('surname')?.errors?.['required']">El apellido es obligatorio.</small>
                    <small *ngIf="register.get('surname')?.errors?.['minlength']">El apellido debe tener al menos 2 caracteres.</small>
                    <small *ngIf="register.get('surname')?.errors?.['pattern']">El apellido solo puede contener letras y espacios.</small>
                </div>

                <label for="email">Correo Electrónico</label>
                <input type="email" id="email" placeholder="Ingrese su correo" formControlName="email">
                <div *ngIf="register.get('email')?.invalid && (register.get('email')?.dirty || register.get('email')?.touched)" class="error-message">
                    <small *ngIf="register.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</small>
                    <small *ngIf="register.get('email')?.errors?.['email']">Ingrese un correo electrónico válido.</small>
                </div>

                <label for="phone">Teléfono</label>
                <input type="text" id="phone" placeholder="Ingrese su teléfono" formControlName="phone">
                <div *ngIf="register.get('phone')?.invalid && (register.get('phone')?.dirty || register.get('phone')?.touched)" class="error-message">
                    <small *ngIf="register.get('phone')?.errors?.['required']">El teléfono es obligatorio.</small>
                    <small *ngIf="register.get('phone')?.errors?.['pattern']">Ingrese un teléfono válido (9-10 dígitos).</small>
                </div>

                <label for="password">Contraseña</label>
                <div class="password-container">
                    <input 
                      [type]="showPassword ? 'text' : 'password'" 
                      id="password"
                      formControlName="password"
                      class="form-control"
                      placeholder="Contraseña"
                    />
                    <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                      <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </button>
                </div>
                <div *ngIf="register.get('password')?.invalid && (register.get('password')?.dirty || register.get('password')?.touched)" class="error-message">
                    <small *ngIf="register.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
                    <small *ngIf="register.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</small>
                    <small *ngIf="register.get('password')?.errors?.['passwordInvalid']">
                        La contraseña debe contener:
                        <ul>
                            <li>Al menos una letra mayúscula</li>
                            <li>Al menos una letra minúscula</li>
                            <li>Al menos un número</li>
                            <li>Al menos un carácter especial</li>
                        </ul>
                    </small>
                </div>

                <label for="confirmPassword">Confirmar Contraseña</label>
                <div class="password-container">
                    <input 
                      [type]="showConfirmPassword ? 'text' : 'password'" 
                      id="confirmPassword"
                      formControlName="confirmPassword"
                      class="form-control"
                      placeholder="Confirmar Contraseña"
                    />
                    <button type="button" class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
                      <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </button>
                </div>
                <div *ngIf="register.get('confirmPassword')?.invalid && (register.get('confirmPassword')?.dirty || register.get('confirmPassword')?.touched) || register.hasError('passwordMismatch')" class="error-message">
                    <small *ngIf="register.get('confirmPassword')?.errors?.['required']">Por favor, confirme su contraseña.</small>
                    <small *ngIf="register.hasError('passwordMismatch')">Las contraseñas no coinciden.</small>
                </div>

                <button type="submit" class="btn btn-primary">Crear cuenta</button>
            </form>
            <p class="login-text">
                ¿Ya tienes una cuenta? <a [routerLink]="'/login'" class="text-link">Iniciar sesión</a>
            </p>
        </div>
    </div>
</div>