<!DOCTYPE html>

<app-navbar></app-navbar>
<div class="container">
  <h2>Lista de Servicios</h2>
  <ul *ngIf="servicios.length > 0; else noServicios">
    <li *ngFor="let servicio of servicios">
      <strong>{{ servicio.nombre }}</strong><br>
      {{ servicio.descripcion }}<br>
      <span>Precio: {{ servicio.precio | currency:'USD' }}</span>
      <button class="reserva-btn" [routerLink]="['/reservas']" [queryParams]="{ servicioId: servicio.id }">
        <span class="icon">📅</span>
        <span class="text">Reservar este servicio</span>
      </button>
    </li>
  </ul>

  <ng-template #noServicios>
    <p>No hay servicios disponibles.</p>
  </ng-template>
</div>