<app-navbar-admin></app-navbar-admin>
<div class="container">

    <h2>Facturas</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Monto Total</th>
                <th>Fecha Emisión</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let factura of facturas">
                <td>{{ factura.id }}</td>
                <td>{{ factura.montoTotal }}</td>
                <td>{{ factura.fechaEmision | date:'short' }}</td>
                <td>
                    <button (click)="eliminarFactura(factura.id)">Eliminar</button>
                    

                </td>
            </tr>
        </tbody>
                   
    </table>
                     
    <h2>Pagos</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha Pago</th>
                <th>Reserva</th>
                <th>metodo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pago of pagos">
                <td>{{ pago.id }}</td>
                <td>{{ pago.fechaPago | date:'short' }}</td>
                <td>{{ pago.reserva?.id || 'N/A' }}</td>
                <th>{{pago.metodo}}</th>
                <td>{{ pago.estado }}</td>
                <td>
                    <button (click)="eliminarPago(pago.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>