<div class="login-container">
    <div class="logo-section">
        <h1 class="brand-name">
            PICHA <br>
            <span>LAVADO</span>
        </h1>
        <p class="tagline">CLEAN & SHINE</p>
    </div>
    <div class="form-section">
        <form>
            <div class="mb-3">
                <label for="emailInput" class="form-label">Email address</label>
                <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput" required>
            </div>
            <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
            <div class="auth-links">
                <a href="register" class="nav-button">Crear cuenta</a>
                <a href="home" class="nav-button">Home</a>
            </div>
        </form>
    </div>
</div>