<div class="login-container">
    <div class="logo-section">
        <h1 class="brand-name">
            PICHA <br>
            <span>LAVADO</span>
        </h1>
        <p class="tagline">CLEAN & SHINE</p>
    </div>
    <div class="form-section">
        <div class="form-wrapper">
            <!-- Notificación dinámica -->
            <div *ngIf="notification" class="notification" [ngClass]="[notification.type]">
                {{ notification.message }}
            </div>
            
            <form [formGroup]="login" (ngSubmit)="handleSubmit()">
                <div class="form-header">
                    <h2>Iniciar Sesión</h2>
                    <p>Ingrese sus credenciales para acceder</p>
                </div>
                <div class="form-group">
                    <label for="emailInput">Correo Electrónico</label>
                    <div class="input-container">
                        <i class="icon-mail"></i>
                        <input type="email" id="emailInput" formControlName="email" placeholder="usuario@ejemplo.com"
                            required>
                    </div>
                    <small class="form-hint">Ingrese su correo electrónico registrado</small>
                </div>

                <div class="form-group">
                    <label for="passwordInput">Contraseña</label>
                    <div class="input-container">
                        <i class="icon-lock"></i>
                        <input [type]="passwordVisible ? 'text' : 'password'" id="passwordInput" formControlName="password"
                            placeholder="Contraseña" required>
                        <i class="icon-eye-off toggle-password" (click)="togglePasswordVisibility()"></i>
                    </div>
                    <small class="form-hint">
                        <a href="javascript:void(0)" class="forgot-password" [class.disabled]="true">
                            ¿Olvidaste tu contraseña?
                        </a>
                    </small>
                </div>
                <div class="loader" *ngIf="isLoading">🚗</div>
                <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                    {{ isLoading ? 'Cargando...' : 'Iniciar Sesión' }}
                </button>

                <div class="form-footer">
                    <p>¿No tienes una cuenta?
                        <a href="/register" class="create-account">Crear cuenta</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <!-- Loader: Se muestra solo cuando isLoading es true -->
    <div *ngIf="isLoading" class="loader-container">
        <div class="loader">🚗..........</div>
    </div>
</div>
